@{
    ViewData["Title"] = "Home";
}

<h2>Welcome to the Olympic Games Site</h2>

<p>
    <a href="@Url.Action("Index", "Sports")">View Sports</a>
</p>
<p>
    <a href="@Url.Action("Index", "Favorites")">View Favorites</a>
</p>
